#contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
}
.contact-header {
  text-align: center;
  width: 100%;
}
#contact-button {
  width: 15rem;
  height: auto;
}
